@charset "UTF-8";

@media (min-width: 768px) {
    main {
        grid-template-columns: auto 300px 1fr auto;
    }

    section#ficha {
        grid-column: 2 / 3;
        height: fit-content;
        position: sticky;
        top: 65px;
    }

    section#detalhes {
        grid-column: 3 / 4;
    }

    div#skill-conteiner{
        grid-template-columns: 1fr 1fr;
    }

    div#projeto-conteiner div.projeto {
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
    }

    div#projeto-conteiner div.projeto-info {
        width: 80%;
    }

    div#projeto-conteiner img.foto {
        aspect-ratio: 1/1;
        width: 20%;
        max-height: 200px;
    }
}