@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  color: var(--texto);

  background-color: var(--fundo-principal);
}

header {
  background-color: var(--destaque);
  padding: 10px;

  color: var(--texto);

  display: flex;
  justify-content: flex-end;
  align-content: center;
}

nav ul {
  list-style: none;

  display: flex;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;

  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s ease;
}

nav a:hover {
  background-color: var(--destaque-inverso);
  
  color: var(--destaque)
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;

  margin-top: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);

  display: block;
  margin: auto;
  margin-bottom: 10px;
}

section#ficha h1 {
  color: var(--destaque);
  text-align: left;
  margin: 15px 0;
  font-size: 1.5em;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  font-size: 1.6em;
  margin-top: 15px;
}

div#social a {
  color: var(--destaque);
  transition: color 0.5s ease;
}

div#social a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

article h2 {
  color: var(--destaque);
  margin-bottom: 20px;
}

div#skill-conteiner{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

div#skill-conteiner div.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

div#skill-conteiner div.info span.nome {
  font-weight: bold;
  color: var(--texto);
}

div#skill-conteiner div.info span.porcent {
  font-weight: bold;
  color: var(--destaque);
}

div#skill-conteiner div.barra {
  width: 100%;
  height: 10px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
  overflow: hidden;
}

div#skill-conteiner div.barra div.progresso {
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 4px 0 0 4px;
}

div#formacao-conteiner {
  display: flex;
  flex-flow: column-reverse nowrap;
  gap: 20px;
}

div#formacao-conteiner div.curso {
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
}

div#formacao-conteiner div.curso:hover {
  border-left-width: 15px;
  border-color: var(--destaque);
  transition: border-left-width 0.5s, border-color 0.5s ease;
  cursor: pointer;
}

div#formacao-conteiner p.periodo {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}

div#formacao-conteiner h3.instituicao {
  font-size: 1.2em;
  color: var(--destaque-inverso);
}